@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0c0c0c;
  color: white;
  overflow-x: hidden;
}

/* ===== LAYOUT ===== */
.forgot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background: radial-gradient(circle at top right, #1e003a, #000);
  width: 100vw;
}

/* ===== LEFT SECTION ===== */
.left-section {
  flex: 1;
  padding: 2.5rem;
  color: #fff;
  text-align: left;
}

.brand {
  font-size: 3.5rem;
  font-weight: 700;
  margin-left: 5rem;
}

.tagline {
  margin-top: 1rem;
  display: inline-block;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-style: italic;
  font-size: 1.1rem;
}

.features {
  margin-top: 2rem;
}

.features p {
  background: #e0e0e0;
  color: #000;
  padding: 0.5rem 1rem;
  font-style: italic;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

/* ===== RIGHT SECTION ===== */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.forgot-form {
  background: transparent;
  padding: 3rem;
  border-radius: 15px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 0 20px rgba(139, 0, 255, 0.3);
   color: #ccc;
}

.forgot-form h2 {
  font-style: italic;
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.forgot-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #111;
  color: white;
}

.forgot-form input::placeholder {
  color: #999;
}

.forgot-form button {
  width: 100%;
  background: linear-gradient(90deg, #5468ff, #8f00ff);
  border: none;
  padding: 0.8rem;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.forgot-form button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.back-login {
  text-align: center;
  margin-top: 1rem;
  color: #ddd;
}

.back-login a {
  color: #8f00ff;
  text-decoration: none;
  font-weight: 600;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .forgot-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: auto;
    padding: 1.5rem;
  }

  .left-section {
    padding: 1rem;
  }

  .right-section {
    margin-top: 2rem;
    width: 100%;
  }

  .features p {
    margin: 0.5rem auto;
  }

  .brand {
    font-size: 2.5rem;
  }
}
