/* ===== GENERAL ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0c0c0c;
  color: white;
  overflow-x: hidden;
}

/* ===== LAYOUT ===== */
.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  background: radial-gradient(circle at top right, #1e003a, #000);
  width: 100vw;
}

/* ===== LEFT SECTION ===== */
.left-section {
  flex: 1;
  padding: 2.5rem;
  color: #fff;
}

.brand {
  font-size: 3.5rem;
  font-weight: 700;
}

.tagline {
  margin-top: 1rem;
  display: inline-block;
  border: 2px solid #fff;
  padding: 0.5rem 1rem;
  font-style: italic;
  font-size: 1.1rem;
}

.features {
  margin-top: 2rem;
}

.features p {
  background: #e0e0e0;
  color: #000;
  padding: 0.5rem 1rem;
  font-style: italic;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

/* ===== RIGHT SECTION ===== */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.login-form {
  background: transparent;
  padding: 3rem;
  border-radius: 15px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 0 20px rgba(139, 0, 255, 0.3);
}

.login-form h2 {
  color: #ccc;
  font-style: italic;
  text-align: center;
  margin-bottom: 1rem;
}

.login-form h3 {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.login-form input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #111;
  color: white;
}

.login-form input::placeholder {
  color: #999;
}

.remember {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.login-form button {
  width: 100%;
  background: linear-gradient(90deg, #5468ff, #8f00ff);
  border: none;
  padding: 0.8rem;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
  color: #ddd;
}

.signup-link a {
  color: #8f00ff;
  text-decoration: none;
  font-weight: 600;
}

.forgot-password {
  display: block;
  text-align: center;
  margin-top: 0.8rem;
  color: #999;
  text-decoration: none;
  font-size: 0.85rem;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* min-height: auto; */
    padding: 1.5rem;
    max-width: 100%; /* allow full width on mobile */
  }

  .left-section {
    padding: 1rem;
  }

  .right-section {
    margin-top: 2rem;
    width: 100%;
  }

  .features p {
    margin: 0.5rem auto;
  }

  .brand {
    font-size: 2.5rem;
  }
}
