/* ===== GENERAL ===== */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-color: #0c0c0c;
  color: white;
}

/* ===== MAIN LAYOUT ===== */
.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  padding: 2rem;
  background: radial-gradient(circle at top right, #1e003a, #000);
  overflow: hidden;
}

/* ===== RIGHT SECTION ===== */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== SIGNUP FORM ===== */
.signup-form {
  background: transparent;
  padding: 1rem;
  border-radius: 12px;
  width: 90%;
  max-width: 320px;
   color: #ccc;
  box-shadow: 0 0 15px rgba(139, 0, 255, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 95vh; 
}

.signup-form h2 {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.1rem;
  font-size: 1.6rem;
}

.subtitle {
  text-align: center;
  font-size: 0.85rem;
  color: #ccc;
  margin-bottom: 0.6rem;
}

.signup-form input {
  width: 100%;
  margin-bottom: 0.5rem; 
  padding: 0.4rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #111;
  color: white;
  font-size: 0.7.5rem;
}
.signup-form label {
  display: block;
  text-align: left;
  margin-bottom: 0.3rem;
  color: #ddd;
  font-size: 0.9rem;
}
.signup-form select {
  width: 100%;
  margin-bottom: 0.5rem; 
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #111;
  color: white;
  font-size: 0.85rem;
}
.signup-form button {
  width: 100%;
  background: linear-gradient(90deg, #5468ff, #8f00ff);
  border: none;
  padding: 0.7rem;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.signup-link {
  text-align: center;
  margin-top: 0.5rem;
  color: #ddd;
  font-size: 0.85rem;
}

/* ===== RESPONSIVE (MOBILE) ===== */
@media (max-width: 900px) {
  .signup-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 1rem;
  }

  .left-section {
    display: none;
  }

  .right-section {
    width: 100%;
  }
}
