body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: black;
}

.login-container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.login-left h1 {
  font-size: 84px;
  margin-bottom: 0px;
  margin-left: 60px;
  color: black;
  background-color: white;
}

.sub-row {
  display: flex;
  align-items: center;
  gap: 0px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0px;
  border: 2px solid black;
  height: 45px;
  text-align: center;
  padding-top: 7px;
  width: 450px;
  margin-left: 60px;
  font-style: italic;
  color: black;
  background-color: #fff;
}

.dotted-line {
  flex: 1 1 auto;
  border-top: 2px dashed rgba(0, 0, 0, 0.4);
  height: 0;
  margin-right: 0px;
  margin-left: 100px;
  opacity: 0.9;
  width: 250px;
}

.features li {
  list-style: none;
  margin: 10px 0;
  font-weight: bold;
  border: 2px solid black;
  height: 35px;
  width: 400px;
  text-align: center;
  font-size: 20px;
  background-color: white;
  color: black;
  padding-top: 7px;
  margin-left: 45px;
  font-style: italic;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-box {
  position: relative;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  height: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  overflow: visible;
}

/* Circle glow image */
.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  background: url("C:/Users/mishr/OneDrive/Desktop/internship_infosys_2025_civix_team_01/frontend/src/circle.png") no-repeat center/contain;
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
  mix-blend-mode: normal;
  filter: brightness(1) blur(0.5px);
}

.circle.top-left {
  top: -115px;
  left: -90px;
}

.circle.bottom-right {
  bottom: -115px;
  right: -90px;
}

.login-box h2 {
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
  font-style: italic;
  font-size: 35px;
  margin-top: 5px;
  color: black;
}

.login-box label {
  display: block;
  margin: 10px 0 5px;
  color: black;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  background-color: white;
}

.login-box .remember {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: black;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #5d78c2 0%, #ec79e2 100%);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  opacity: 0.9;
}

.login-box .forgot {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.login-box .forgot-link {
  color: black;
  text-decoration: none;
}

.login-box .forgot-link:hover {
  text-decoration: underline;
}

.signup-text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: black;
}

.signup-highlight {
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.signup-highlight:hover {
  text-decoration: underline;
}
 
#root, .App {
  background-color: #fff !important;
}